.characterCardDetail {
  gap: 30px;
  background-color:cornflowerblue;
  padding: 3.5em;
}

.characterCardDetail__image {
  border-radius: 10em;
  width: 100%;
  height: 100%;
}

.characterCardDetail__textContainer {
  display: flex;
  flex-direction: column;
}

.characterCardDetail__description {
  margin-top: 0.8em;
  color: white;
}

.characterCardDetail__info {
  margin-bottom: 0.5em;
}

.characterCardDetail__buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 3em;
}

.characterCardDetail__button {
  border: 0;
  color: cornflowerblue;
  padding: 1em;
  background-color:white;
  font-weight: 700;
  border-radius: 10px;
}

.characterCardDetail__button:hover {
  background-color: black;
}

@media (min-width: 768px) {
  .characterCardDetail {
    display: flex;
    justify-content: left;
    text-align: left;
    gap: 80px;
  }
}
